name: "Jellyfin-newsletter docker image deployment"

on:
  push:
    tags:
      - '**'



jobs:
    build_and_publish :
      name: Build and publish image
      runs-on: ubuntu-latest
      env:
        DOCKER_IMAGE_NAME: "JellyfinNewsletter"
      steps:
        - uses: actions/checkout@v3
        - name: Build
          working-directory: ./
          run: |
            current_version=$(echo ${{ github.ref_name }} | sed 's/\([0-9]*\.[0-9]*\).*$/\1/')
            docker build -t $DOCKER_IMAGE_NAME:latest -t $DOCKER_IMAGE_NAME:$current_version .
        - name: Login to GitHub Container Registry
          run: echo ${{ secrets.GHCR_TOKEN }} | docker login ghcr.io -u ${{ secrets.USERNAME }} --password-stdin
        - name: Push Docker image to GitHub Container Registry
          run: |
            current_version=$(echo ${{ github.ref_name }} | sed 's/\([0-9]*\.[0-9]*\).*$/\1/')
            docker tag $DOCKER_IMAGE_NAME:latest ghcr.io/${{ secrets.USERNAME }}/$DOCKER_IMAGE_NAME:latest
            docker tag $DOCKER_IMAGE_NAME:$current_version ghcr.io/${{ secrets.USERNAME }}/$DOCKER_IMAGE_NAME:$current_version
            docker push ghcr.io/${{ secrets.USERNAME }}/$DOCKER_IMAGE_NAME:latest
            docker push ghcr.io/${{ secrets.USERNAME }}/$DOCKER_IMAGE_NAME:$current_version